{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block navigation %}
    <nav class="navigation">
        {% comment %} <a class="btn btn-secondary" role="button" href="{% url 'delivery:home' %}">Do głównej</a>
        <a class="btn btn-outline-secondary" role="button" href="{% url 'delivery:select_receprion' %}">Wróć</a>
         {% endcomment %}
    </nav>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'zwroty:add_product' %}" enctype="multipart/home">
    {% csrf_token %}
        <input type="hidden", name="identifier", value="{{ identifier }}" , id="finish">
        <select id="reason_name" name="reason_name" class="form-select" onchange="showInput()" required>
            <option  disabled selected value="" >Powod</option>
            {% for reason in reasons %}
            <option value="{{ reason.name }}">{{ reason.name }}</option>
            {% endfor %}
        </select> <br>

        <div id="inputField" style="display:none;">
            <div class="input-group mb-3" type="text" >
                <span class="input-group-text" style="width: 45%;">wprowadz opis productu</span>
                <input type="text" style="width: 55%;" id="textInput" name="sku_deskription" class="form-control" required><br>
            </div>
        </div>


        <div class="input-group mb-3" type="text">
            <span class="input-group-text" id="inputGroup-sizing-default">EAN:</span>
            <input id="ean" name="ean" type="text" class="form-control" required><br>
        </div>

        <div class="input-group mb-3" type="text">
            <span class="input-group-text" id="inputGroup-sizing-default">QTY:</span>
            <input id="qty" name="qty" type="number" class="form-control" required><br>
        </div>
        
        <input class="btn btn-secondary" type="submit" value="CONTUNUJ" style="width: 100%;">    
</form>
<br>
<form method="post" action="{% url 'zwroty:add_product' %}" enctype="multipart/home">
    {% csrf_token %}
    <input type="hidden", name="finish", value="{{ identifier }}" , id="finish">
    <select style="display: none;", id="tape_of_delivery" name="tape_of_delivery" class="form-select"  >
        <option  disabled selected value="" >Sposób dostawy</option>
        <option value="paczka">Paczka</option>
        <option value="paleta">Paleta</option>
    </select>
    
    <input type="hidden", name="identifier", value="{{ identifier }}" , id="finish">
   
    <input id="pallType" class="btn btn-secondary" type="submit" value="FINISH" style="width: 100%;">
</form>
<script>
    function showPallType(){
        var pallType = document.getElementById("tape_of_delivery");
        pallType.required = true;
        pallType.style.display = "block"; 
    }

    document.getElementById("pallType").addEventListener("click", function(event) {
        showPallType();
    });
</script>


{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}
    
{% endblock %}
