{% extends "base.html" %}

{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary" role="button" href="{% url 'zwroty:home' %}">Do głównej</a>
    </nav>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'zwroty:add_line_menu' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group mb-3" type="number">
        <span class="input-group-text" style="width: 35%;">Identyfikator: </span>
        <input type="number" style="width: 65%;" name="identifier" value="{{ identifier }}" required>
    </div>


    {% if not error_message %}
        <button type="submit" style="width: 100%;">contunuj</button>
    {% endif %}
</form>

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    
    {% if complite %}
    <form method="post" action="{% url 'zwroty:add_line_menu' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="compile_exces" value="yes" id="delivery_id">
        <input type="hidden" name="identifier" value="{{ identifier }}" id="delivery_id">

        <button type="submit" style="width: 100%;">Kontynuuj mimo wszystko </button>
    </form>
    {% endif %}
{% endif %}

{% endblock %}