{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary"  role="button" href="{% url 'zwroty:home' %}"title="Do główną">
            <img src="{% static '/img/house.svg' %}" alt="Do główną">
        </a>
    </nav>
{% endblock %}

{% block content %}

<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
    role="button" href="{% url 'user:user-list' %}"
    style="font-size: 40px; padding: 10px;">Users</a>
<br>

{% endblock %}