{% extends 'pc_base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary"  role="button" href="{% url 'zwroty:home' %}"title="Do główną">
            <img src="{% static '/img/house.svg' %}" alt="Do główną">
        </a> 
    </nav>
{% endblock %}

{% block content %}
<div class="container" style="width: 90%;">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            
                <table class="table table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Data Przyjęcia</th>
                            <th>Bon wyjścia</th>
                            <th>Numer wuzetki</th>  
                            <th>Sklep</th>
                            <th>Status</th>
                            <th>Typ nośnika</th>
                            <th>Ostatnia aktualizacja przez</th>
                        </tr> 
                        <tbody>
                            {% for order in order_list %}
                            <tr>
                                <td><a style="text-decoration:none" 
                                    class="link-dark " 
                                    href="{% url 'zwroty:return_order_detail' pk=order.id %}">
                                    {{ order.identifier }}
                                </a></td>
                                <td>{{ order.date_recive|date:"d-m-Y" }}</td> 
                                <td>{{ order.nr_order }}</td>  
                                <td>{{ order.position_nr }}</td>  
                                <td>{{ order.shop.description }}</td>  
                                <td>
                                    {% if order.complite_status %}
                                        Zrobione
                                    {% else %}
                                        Nie Zrobione
                                    {% endif %}
                                </td>
                                <td>{% if order.tape_of_delivery == 'op.' %}
                                        Paczka
                                    {% else %}
                                        Paleta
                                    {% endif %}
                                </td>  
                                <td>{{ order.user }}</td>  

                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}