{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block navigation %}
    <nav class="navigation">
        <a class="btn btn-secondary"  role="button" href="{% url 'zwroty:home' %}"title="Do główną">
            <img src="{% static '/img/house.svg' %}" alt="Do główną">
        </a>
    </nav>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'zwroty:create_return_order' %}" enctype="multipart/home">
    {% csrf_token %}
        <div class="input-group mb-3" type="text">
            <span class="input-group-text" id="inputGroup-sizing-default">BON WYJ:</span>
            <input id="order_number" name="order_number" type="text" class="form-control "required><br>
        </div>

        <div class="input-group mb-3" type="text">
            <span class="input-group-text" id="inputGroup-sizing-default">Nr WYZETKI:</span>
            <input id="wz_nr" name="wz_nr" type="number" class="form-control "required><br>
        </div>

        <div class="input-group mb-3" type="text">
            <span class="input-group-text" id="inputGroup-sizing-default">Nr Sklepu:</span>
            <input id="shop" name="shop" type="number" class="form-control "required><br>
        </div>

        {% comment %} <div class="input-group mb-3" type="text">
            <span class="input-group-text" id="inputGroup-sizing-default">Comentarz:</span>
            <input id="comment" name="comment" type="text" class="form-control "><br>
        </div>
         {% endcomment %}
        <input class="btn btn-secondary" type="submit" value="Submit" style="width: 100%;"> 
    
</form>

{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}
    
{% endblock %}