{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
   role="button" href="{% url 'zwroty:create_return_order' %}" 
   style="font-size: 30px; padding: 10px;">Nowy Zwrot</a>
<br>


<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
    role="button" href="{% url 'zwroty:report_wz' %}" 
    style="font-size: 30px; padding: 10px;">RAPORT WZ </a><br>

<a class="btn btn-outline-secondary d-flex align-items-center justify-content-center" 
    role="button" href="{% url 'zwroty:add_line_menu' %}" 
    style="font-size: 30px; padding: 10px;">ADD LINE </a><br>
{% if request.user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post" class="btn btn-outline-secondary d-flex align-items-center justify-content-center">
      {% csrf_token %}
      <button type="submit" 
      class="btn  d-flex align-items-center justify-content-center"
      style="font-size: 30px; padding: 10px;">Logout</button>
    </form>
 
{% else %}
<form action="{% url 'login' %}" method="post" class="btn btn-outline-secondary d-flex align-items-center justify-content-center">
    {% csrf_token %}
    <button type="submit" 
    class="btn  d-flex align-items-center justify-content-center"
    style="font-size: 30px; padding: 10px;">Login</button>
  </form>
{% endif %}

{% endblock %}