{% extends "base.html" %}

{% block content %}
  <form action="{% url 'user:password_change'  %}" method="post">
    {% csrf_token %}
          {% comment %} <span class="input-group-text" style="width: 45%;">wprowadz nowe haslo</span>
          <input type="password" style="width: 55%;" id="password" name="new_pass" class="form-control" required><br> {% endcomment %}

          <div class="input-group mb-3" type="password", >
            <input name="new_pass" type="password" class="form-control" placeholder="Wprowadź nowe hasło">
          </div>

          <input class="btn btn-secondary" type="submit" value="Submit" style="width: 100%;"> 
  </form>
{% endblock %}
